# This file is managed remotely, all changes will be lost

# pinentry-program for password-cli
pinentry-program /usr/bin/pinentry-tty

# Make gpg remember your passphrase
max-cache-ttl 60480000
default-cache-ttl 60480000

# For unattended passphrase
allow-loopback-pinentry
allow-preset-passphrase
